body{
    background-image: url(../Images/map.png);
    background-size: 100vw;
    background-repeat: no-repeat;
}
#settings{
    background-image: url(../Images/zahnrad.png);
    background-size: 100%;
    width: 6.25rem;
height: 6.25rem;
border-radius: 15px;
}